<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Gazebo Arguments -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/> 

    <!-- Spawning arguments -->
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="robot_name" default="pendulum" />
    <arg name="robot_file" default="$(find pendulum_control)/urdf/cartpole.urdf" />
    <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_file)' " />

    <!--launch GAZEBO with own world configuration -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="worlds/empty.world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
    
    <!-- Spawn the ROBOT -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg robot_name) -param /robot_description"/>

    <!-- Load joint controller configurations -->
    <rosparam file="$(find pendulum_control)/urdf/controller_config.yaml" command="load"/>

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  ns="/pendulum" args="joint_state_controller x_controller" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

</launch>
